/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 10 versions
*/

/* Déclaration de variables réutilisables */
:root {
  --black: #171321;
  --dkblue: #0e3a55;
  --darkerblue: #081e2d;
  --base-900: #0a1a24; /* bleu-nuit plus propre */
  --base-800: #0e3a55; /* ton dkblue actuel */
  --base-700: #102f40; /* plus neutre que darkerblue */

  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --elec-purple: #e200ff;
  --tech-purple: #c93cff; /* violet électrique plus doux que #e200ff */
  --tech-magenta: #ff4fdc; /* accent vibrant, mais moins agressif */
  --tech-aqua: #5eeaf2; /* version adoucie de aqua */

  --aqua: #86fbfb;
  --aqua-blur: hsla(180, 94%, 75%, 0.2);
  --white: #f7f8fa;
  --petrol: #22675a;
  --lightpetrol: #36a38f;
  --verylightpetrol: #4be4c8;
  --green-500: #2ebd8b; /* vert greentech moderne */
  --green-400: #3ed7a5; /* plus lumineux */
  --green-300: #5eecd0; /* vert-aqua pastel */

  --sunny: #f2cb05;
  --sunnyafternoon: #f29f05;
  --sunset: #f28705;
  --pink-sunset: #f23030;
  --energy-yellow: #f2c94c;
  --energy-orange: #f2994a;

  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}
html,
body {
  overflow-x: hidden;
  width: 100%;
  /* position: relative; */
}
p,
h1,
h2,
h3,
h4 {
  margin: 0;
}
a:hover {
  color: var(--aqua);
  text-decoration: none;
}

/* Background colors divs */

.bg-projects {
  /* background-image: url("../img/mount-fuji-2297961_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center; */
}
.gradient {
  background: -o-linear-gradient(
    left,
    rgba(75, 228, 200, 1) 0%,
    var(--elec-purple) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(75, 228, 200, 1)),
    to(var(--elec-purple))
  );
  background: linear-gradient(
    90deg,
    rgba(75, 228, 200, 1) 0%,
    var(--elec-purple) 100%
  );
  height: 2px;
}
.reverse-gradient {
  background: -o-linear-gradient(
    left,
    var(--elec-purple) 0%,
    rgba(75, 228, 200, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--elec-purple)),
    to(rgba(75, 228, 200, 1))
  );
  background: linear-gradient(
    90deg,
    var(--elec-purple) 0%,
    rgba(75, 228, 200, 1) 100%
  );
  height: 2px;
}

/* Containers */
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem 1rem;
}

/* Titres */
.title-group {
  text-align: center;
  margin-bottom: 4rem;
}
.title {
  font-size: clamp(2rem, 4vw, 3rem);
  margin-bottom: 1rem;
  text-align: center;
  color: var(--elec-purple);
}
.subtitle {
  color: var(--white);
  font-size: clamp(1rem, 2vw, 1.25rem);
  line-height: 2rem;
}

/* Scroll Bar */
/* Firefox */
html {
  /* scrollbar-width: thin; */
  /* scrollbar-color: var(--petrol) var(--elec-purple); */
  /* scrollbar-gutter: var(--aqua); */
}
/* Chrome/Safari/Edge */
/* Largeur de la scrollbar */
html::-webkit-scrollbar {
  width: 10px;
}

/* Piste de la scrollbar */
html::-webkit-scrollbar-track {
  /* background: #c30000; */
}

/* Poignée de la scrollbar */
html::-webkit-scrollbar-thumb {
  background: var(--aqua);
  border-radius: 6px;
}

/* Poignée de la scrollbar au survol */
html::-webkit-scrollbar-thumb:hover {
  background: var(--elec-purple);
}

/* Header */
header {
  /* position: relative; */
  min-height: 100vh;
}

/* Nav styles */

nav {
  font-family: var(--mono);
  font-size: 80%;
  padding: 1.5rem 1rem;
  /* height: 190px; */
}
nav li:first-child {
  font-family: var(--sans);
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  /* text-align: center; */
  font-size: 2rem;
  font-weight: bold;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2rem;
}
nav li a {
  color: var(--white);
  text-decoration: none;
  display: block;
}
nav li a:hover {
  color: var(--aqua);
}
nav span img {
  position: relative;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: -100px;
  width: 150px;
}
@media (min-width: 850px) {
  nav span img {
    position: absolute;
    top: -55px;
    left: 125px;
    width: 200px;
  }
}
@media (min-width: 1420px) {
  nav span img {
    top: -20px;
    left: 100px;
    transform: translateX(0);
    width: 250px;
  }
}
@media (min-width: 1900px) {
  nav span img {
    position: fixed;
    top: -30px;
    left: 15px;
    width: 300px;
  }
}
nav span:first-child {
  color: var(--elec-purple);
  margin-right: 10px;
}
nav span:first-child:hover {
  color: var(--aqua);
  /* margin-right: 10px; */
}
nav li:nth-child(n + 2) span {
  color: var(--elec-purple);
  font-size: 150%;
}
nav li span:hover {
  /* color: var(--aqua); */
}
nav .button {
  font-size: 100%;
  padding: 0.5rem;
}

.button {
  background: var(--aqua);
  box-shadow: 0 0 4px 0 var(--elec-purple);
  color: var(--plum);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  text-decoration: none;
  font-family: var(--mono);
  font-size: 80%;
}
.button:hover {
  background: var(--elec-purple);
  box-shadow: 0 0 10px 0 var(--aqua);
  color: var(--aqua);
}

@media (min-width: 850px) {
  nav {
    max-width: 1280px;
    margin: 0 auto;
  }
  nav li:first-child {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    margin-right: auto;
  }
}

/* Intro styles */

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem 1rem 4rem 1rem;
  max-width: 1280px;
  min-height: calc(100vh - 190px); /* ta valeur actuelle */
  margin: 0 auto;
}
@media (min-width: 850px) {
  #intro {
    min-height: calc(100vh - 190px);
    padding: 5rem 1rem 4rem 1rem;
  }
}
@media (min-width: 1070px) {
  #intro {
    padding: 7.5rem 1rem 4rem 1rem;
  }
}

#intro h1 {
  font-size: 1rem;
  line-height: 1.5;
}
#intro h1 {
  font-family: var(--mono);
  letter-spacing: 0.2rem;
}
#intro h1 span {
  color: var(--elec-purple);
  display: inline;
  font-family: var(--sans);
  font-size: 4rem;
  font-weight: 500;
  margin: 0;
}
#intro h2 {
  font-size: 3.5rem;
  font-weight: normal;
  margin-top: 2rem;
}
#intro h2 span {
  color: var(--aqua);
  display: block;
  font-family: var(--mono);
  font-size: 1.5rem;
  margin-top: 6rem;
}
#intro p.fixed-btn {
  position: fixed;
  bottom: 50px;
  left: 50px;
  z-index: 1;
}
#intro p.flex {
  display: flex;
  gap: 75px;
  margin-top: 6%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 600px) {
  #intro p.flex {
    margin-right: 0;
  }
}

/* Section SERVICES */
/* SERVICES — VERSION OPTIMISÉE */

#services {
  background-color: var(--black);
}

/* GRID */
.services-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
}

@media (min-width: 700px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1280px) {
  .services-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* CARDS */
.service-card {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 1.8rem 1.8rem 2.2rem;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(226, 0, 255, 0.1);
  backdrop-filter: blur(4px);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(134, 251, 251, 0.25);
}

/* HEAD: ICON + TITLE regroupés */
.service-head {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.2rem;
}

/* ICON */
.service-icon {
  width: 55px;
  height: 55px;
  font-size: 1.6rem;
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--elec-purple);
  box-shadow: 0 0 10px rgba(226, 0, 255, 0.35);
}

/* TITLE */
.service-card h3 {
  font-size: clamp(1.1rem, 2vw, 1.4rem);
  color: var(--aqua);
  margin: 0;
  line-height: 1.3;
}

/* DESCRIPTION */
.service-card p {
  font-size: clamp(0.9rem, 1.5vw, 1.05rem);
  line-height: 1.55;
  opacity: 0.9;
}

/* Section PROJETS */

#projects {
  padding: 4rem 1rem 3rem 1rem;
  max-width: 1280px;
  margin: 0 auto;
}
#projects h2.aboutme {
  text-align: center;
}
#projects .text {
  margin: auto 0 auto auto;
  font-size: clamp(1.25rem, 2vw, 1.75rem);
}
#projects .project-title {
  color: var(--aqua);
  font-family: var(--sans);
  font-weight: 600;
  font-size: clamp(1.25rem, 2vw, 1.75rem);
}
#projects .reverse .text {
  margin: auto auto auto 0;
}
#projects article {
  margin: 4rem 0 2rem 0;
}
#projects .about .text {
  margin: 0 0 auto 0;
}
#projects .in-progress {
  color: var(--elec-purple);
  font-size: 1.25rem;
  font-weight: 600;
}

#projects h4 {
  font-family: var(--mono);
  font-size: clamp(1rem, 2vw, 1.25rem);
}
#projects ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-end;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
  font-size: clamp(1rem, 2vw, 1.25rem);
}
#projects .reverse ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
#projects .black-box {
  background-color: rgba(255, 255, 255, 0.039);
  color: var(--white);
  padding: 1rem;
  font-size: 1rem;
  line-height: 2;
  border-radius: 10px;
}
#projects .black-box::first-letter {
  font-size: 1.5rem;
  font-family: var(--mono);
}
#projects img {
  border-left: 1px dotted var(--elec-purple);
  border-top: 1px dotted var(--elec-purple);
  border-radius: 25px;
  padding: 1rem;
  margin-top: 1rem;
  width: 100%;
}
#projects .about img {
  border-radius: 50%;
}
#projects .reverse img {
  border-left: none;
  border-top: none;
  border-right: 1px dotted var(--elec-purple);
  border-bottom: 1px dotted var(--elec-purple);
}
@media (min-width: 789px) {
  #projects article {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr
      1rem 1fr 1rem 1fr 1rem 1fr;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
  }
  #projects img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/8;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  #projects .about img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
  #projects a {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/8;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  #projects .text {
    -ms-grid-column: 5;
    -ms-grid-column-span: 6;
    grid-column: 8/11;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    text-align: right;
  }
  #projects .about .text {
    -ms-grid-column: 5;
    -ms-grid-column-span: 6;
    grid-column: 6/11;
    text-align: left;
  }
  #projects ul {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  #projects .reverse .text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/4;
    text-align: left;
  }
  #projects .reverse img {
    -ms-grid-column: 6;
    -ms-grid-column-span: 5;
    grid-column: 4/11;
  }
  #projects .reverse a {
    -ms-grid-column: 6;
    -ms-grid-column-span: 5;
    grid-column: 4/11;
  }
  #projects .reverse ul {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
@media (min-width: 0) and (max-width: 788px) {
  #projects .about {
    margin: 0;
  }
  #projects .about img {
    margin-top: 3rem;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: 70%;
  }
  #projects .text {
    text-align: center;
  }
  #projects .about .text {
    text-align: left;
  }
  #projects ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  #projects .about ul {
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
  }
  #projects .reverse .text {
    text-align: center;
  }
  #projects .reverse ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

/* tarifsS — SECTION */

#tarifs {
  background: var(--black);
}

#tarifs h2 span {
  color: var(--white);
}

/* GRID */
.tarifs-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
}
@media (min-width: 700px) {
  .tarifs-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1280px) {
  .tarifs-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* CARD */
.tarifs-card {
  background: rgba(255, 255, 255, 0.05);
  padding: 2.2rem;
  border-radius: 16px;
  border: 1px solid rgba(226, 0, 255, 0.15);
  box-shadow: 0 0 10px rgba(226, 0, 255, 0.05);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.tarifs-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 20px rgba(134, 251, 251, 0.25);
}

.tarifs-card.highlight {
  border: 1px solid var(--aqua-blur);
  box-shadow: 0 0 12px rgba(134, 251, 251, 0.25);
  /* transform: translateY(-6px); */
  transform: scale(1.05);
}

.tarifs-card.highlight:hover {
  /* transform: translateY(10px); */
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(134, 251, 251, 0.25);
}

/* TITRE */
.tarifs-card h3 {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  margin: 0 0 1rem;
  color: var(--aqua);
  text-align: center;
}
.tarifs-card p {
  text-align: center;
}

/* PRIX */
.tarifs-price {
  color: var(--elec-purple);
  font-size: clamp(1.4rem, 3vw, 1.9rem);
  font-weight: bold;
  margin: 0 0 1.8rem;
}
.tarifs-price span {
  color: var(--white);
  font-size: clamp(0.8rem, 2vw, 1rem);
}
.tarifs-price strong {
  font-size: 1.25rem;
  position: relative;
  bottom: 5px;
}

/* LISTE */
.tarifs-card ul {
  list-style: none;
  padding: 0 20%;
  margin: 0;
}
@media (min-width: 700px) {
  .tarifs-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.tarifs-card ul li {
  margin-bottom: 0.7rem;
  opacity: 0.85;
  font-size: clamp(0.9rem, 1.5vw, 1.05rem);
}

/* Effet séparateur */
.tarifs-card ul li::before {
  content: "+ ";
  color: var(--aqua);
  font-weight: 600;
}

/* CTA tarifss */
.tarifs-cta {
  text-align: center;
  margin: 5rem 0 3rem 0;
}

.star-display {
  font-size: 1.1rem;
}
.star-display span {
  font-size: 1.75rem;
  font-weight: 600;
}

/* CTA styles */
.cta {
  background-color: var(--petrol);
  text-align: center;
  margin: 0 auto;
  padding: 4rem 15%;
  /* max-width: 70%; */
}
.cta p {
  margin-top: 3rem;
}

/* Footer styles */

footer {
  text-align: center;
  padding: 4rem 15%;
  margin: 0 auto;
}
footer ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 2rem;
  font-size: 2rem;
  padding: 0;
  margin: 2rem 0;
}
footer [class*="fa-"] {
  color: var(--elec-purple);
}
footer [class*="fa-"]:hover {
  color: var(--aqua);
}
footer p {
  padding-top: 2rem;
}

/* SCROLL TO TOP */
#scroll_to_top {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1;
}
#scroll_to_top img {
  width: 50px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px white;
  box-shadow: 0 2px 5px white;
}
@media (min-width: 850px) {
  #scroll_to_top img {
    width: 60px;
  }
}
@media (min-width: 1280px) {
  #scroll_to_top img {
    width: 70px;
  }
}
#scroll_to_top img:hover,
#scroll_to_top img:focus {
  -webkit-box-shadow: 0 5px 7px var(--elec-purple);
  box-shadow: 0 5px 7px var(--elec-purple);
}
