/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 10 versions
*/

/* Déclaration de variables réutilisables */
:root {
    --black: #171321;
    --dkblue: #0e3a55;
    --darkerblue: #081e2d;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --elecPurple: #E200FF;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --petrol: #22675a;
    --lightpetrol: #36a38f;
    --verylightpetrol: #4be4c8;
    --sunny: #F2CB05;
    --sunnyafternoon: #f29f05;
    --sunset: #F28705;
    --pinkSunset: #F23030;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
}
html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
    font-family: var(--sans);
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size);
}
html, body {
    overflow-x: hidden;
    width: 100%;
    /* position: relative; */
}
h1, h2, h3, h4 {
    margin: 0;
}
a:hover {
    color: var(--aqua);
    text-decoration: none;
}
#intro p:last-child a {
    color: var(--aqua);
}
#intro p:last-child a:hover {
    color: var(--elecPurple);
}

/* Background colors divs */

.section-petrol {
    background-color: var(--petrol);
}
.bg-projects {
    /* background-image: url("../img/mount-fuji-2297961_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center; */
}
.gradient {
    background: -o-linear-gradient(left, rgba(75,228,200,1) 0%, var(--elecPurple) 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(75,228,200,1)), to(var(--elecPurple)));
    background: linear-gradient(90deg, rgba(75,228,200,1) 0%, var(--elecPurple) 100%);
    height: 2px;
}
.reverse-gradient {
    background: -o-linear-gradient(left, var(--elecPurple) 0%, rgba(75,228,200,1) 100%);
    background: -webkit-gradient(linear, left top, right top, from(var(--elecPurple)), to(rgba(75,228,200,1)));
    background: linear-gradient(90deg, var(--elecPurple) 0%, rgba(75,228,200,1) 100%);
    height: 2px;
}

/* Scroll Bar */
/* Firefox */
html {
    /* scrollbar-width: thin; */
    /* scrollbar-color: var(--petrol) var(--elecPurple); */
    /* scrollbar-gutter: var(--aqua); */
}
/* Chrome/Safari/Edge */
/* Largeur de la scrollbar */
html::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Piste de la scrollbar */
  html::-webkit-scrollbar-track {
    /* background: #c30000; */
  }
  
  /* Poignée de la scrollbar */
  html::-webkit-scrollbar-thumb {
    background: var(--aqua);
    border-radius: 6px;
  }
  
  /* Poignée de la scrollbar au survol */
  html::-webkit-scrollbar-thumb:hover {
    background: var(--elecPurple);
  }

  /* Header */
  header {
    min-height: 100vh;
  }

/* Nav styles */

nav {
    font-family: var(--mono);
    font-size: 80%;
    padding: 1.5rem 1rem;
}
nav li:first-child {
    font-family: var(--sans);
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
}
nav a {
    color: var(--white);
    text-decoration: none;
    display: block;
}
nav a:hover {
    color: var(--aqua);
}
nav h1 span:first-child {
    color: var(--elecPurple);
    margin-right: 10px;
}
nav li:nth-child(n + 2) span {
    color: var(--elecPurple);
    font-size: 150%;
}
nav li span:hover {
    color: var(--aqua);
}
.button {
    background: var(--aqua);
    box-shadow: 0 0 4px 0 var(--elecPurple);
    color: var(--plum);
    padding: .5rem;
    border-radius: .3rem;
}
.button:hover {
    background: var(--elecPurple);
    box-shadow: 0 0 10px 0 var(--aqua);
}
@media (min-width: 850px) {
    nav {
        max-width: 1200px;
        margin: 0 auto;
    }
    nav li:first-child {
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
        margin-right: auto;
    }
}

/* Intro styles */

#intro {
    padding: 4rem 1rem 4rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}
#intro p {
    font-size: 1rem;
    line-height: 1.5;
}
#intro .name {
    font-family: var(--mono);
    letter-spacing: .2rem;
}
.name span {
    /* display: block; */
    font-family: var(--sans);
    font-size: 4rem;
    color: var(--elecPurple);
}
#intro h2 {
    font-size: 3.5rem;
    font-weight: normal;
    margin-top: 2rem;
}
#intro h2 span {
    color: var(--aqua);
    display: block;
    font-family: var(--mono);
    font-size: 1.5rem;
    margin-top: 6rem;
}

/* Projects styles */

#projects {
    padding: 4rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}
#projects h2 {
    font-size: 2.5rem;
    margin-bottom: calc(2.5rem * 1.5);
}
#projects h2.aboutme {
    text-align: center;
}
#projects .text {
    margin: auto 0 auto auto;
}
#projects .reverse .text {
    margin: auto auto auto 0;
}
#projects article {
    margin: 2rem 0 4rem 0;
}
#projects .about .text {
    margin: 0 0 auto 0;
}
#projects h3 {
    /* color: var(--petrol); */
    /* color: var(--lightpetrol); */
    color: var(--aqua);
    font-size: 2rem;
}
#projects h4 {
    font-family: var(--mono);
    font-size: 1.2rem;
}
#projects ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-end;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}
#projects .reverse ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
#projects .black-box {
    background-color: rgba(255, 255, 255, 0.039);
    color: var(--white);
    padding: 1rem;
    font-size: 1rem;
    line-height: 2;
    border-radius: 10px;
}
#projects .black-box::first-letter {
    font-size: 1.5rem;
    font-family: var(--mono);
}
#projects img {
    border-left: 1px dotted var(--elecPurple);
    border-top: 1px dotted var(--elecPurple);
    border-radius: 25px;
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
}
#projects .about img {
    border-radius: 50%;

}
#projects .reverse img {
    border-left: none;
    border-top: none;
    border-right: 1px dotted var(--elecPurple);
    border-bottom: 1px dotted var(--elecPurple);
}
@media (min-width: 789px) {
    article {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
        grid-template-columns: repeat(10, 1fr);
        gap: 1rem;
    }
    #projects img {
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
        grid-column: 1/8;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
    }
    #projects .about img {
        -ms-grid-column: 1;
        -ms-grid-column-span: 4;
        grid-column: 1/5;
    }
    #projects a {
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
        grid-column: 1/8;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
    }
    #projects .text {
        -ms-grid-column: 5;
        -ms-grid-column-span: 6;
        grid-column: 8/11;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        text-align: right;
    }
    #projects .about .text {
        -ms-grid-column: 5;
        -ms-grid-column-span: 6;
        grid-column: 6/11;
        text-align: left;
    }
    #projects ul {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
    #projects .reverse .text {
        -ms-grid-column: 1;
        -ms-grid-column-span: 6;
        grid-column: 1/4;
        text-align: left;
    }
    #projects .reverse img {
        -ms-grid-column: 6;
        -ms-grid-column-span: 5;
        grid-column: 4/11;
    }
    #projects .reverse a {
        -ms-grid-column: 6;
        -ms-grid-column-span: 5;
        grid-column: 4/11;
    }
    #projects .reverse ul {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
}
@media (min-width: 0) and (max-width: 788px) {
    #projects .about {
        margin: 0;
    }
    #projects .about img {
        margin-top: 3rem;
        position: relative;
        transform: translateX(-50%);
        left: 50%;
        width: 70%;
    }
    #projects .text {
        text-align: center;
    }
    #projects .about .text {
        text-align: left;
    }
    #projects ul {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    #projects .about ul {
        -webkit-box-pack: left;
            -ms-flex-pack: left;
                justify-content: left;
    }
    #projects .reverse .text {
        text-align: center;
    }
    #projects .reverse ul {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

/* Contact styles */

#contact {
    text-align: center;
    margin: 0 auto;
    padding: 4rem 0;
    width: 70%;
}
#contact p {
    margin-top: 3rem;
}
#contact [class*="button"] {
    box-shadow: 0 0 4px 0 var(--elecPurple);
    color: var(--petrol);
    text-decoration: none;
    font-family: var(--mono);
    font-size: 80%;
}
#contact [class*="button"]:hover {
    box-shadow: 0 0 10px 1px var(--aqua);
    color: var(--aqua);
}

/* Footer styles */

footer {
    text-align: center;
    padding: 4rem 0 0 0;
    margin: 0 auto;
}
footer ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 4rem;
    font-size: 3rem;
    padding: 0;
    margin: 2rem 0;
}
footer [class*="fa-"] {
    color: var(--elecPurple);
}
footer [class*="fa-"]:hover {
    color: var(--aqua);
}
footer p {
    padding-top: 2rem;
}

/* SCROLL TO TOP */
#scroll_to_top {
    display: none;
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 50px;
}

#scroll_to_top img {
    width: 30px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 5px white;
            box-shadow: 0 2px 5px white;
}

#scroll_to_top img:hover,
#scroll_to_top img:focus {
    -webkit-box-shadow: 0 5px 7px var(--elecPurple);
            box-shadow: 0 5px 7px var(--elecPurple);
}